.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.m-t-40 {
  margin-top: 40px;
}
.m-b-10 {
  margin-bottom: 10px;
}

.content-spacer{
  padding:15px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}